
        <ul class="character__bar">
            <li class="character__city">
                <a class="<%= path === '/character/liyue' ? 'active' : '' %>" href="/character/liyue">Liyue Harbor</a>
            </li>
            <li class="character__city">
                <a class="<%= path === '/character/mondstadt' ? 'active' : '' %>" href="/character/mondstadt">Mondstadt</a>
            </li>
        </ul>
        