<%- include('include(ejs)/head.ejs') %>
<link rel="stylesheet" href="/404page.css">
</head>
<body>
    <%- include('include(ejs)/navigation.ejs') %>
    
    <h1>Page not Found !!!!</h1>
    <%- include('include(ejs)/end.ejs') %>
