<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Register</title>
    <link rel="stylesheet" href="/shop.css">
</head>

<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <img src="/image/download.png" alt="Ghenshin Logo">
                <li class="main-header__item"><a href="/">HOME</a></li>
                <li class="main-header__item"><a href="/admin/add-product">NEWS</a></li>
                <li class="main-header__item"><a href="#">CHARACTERS</a></li>
                <li class="main-header__item"><a href="#">MANGA</a></li>
                <li class="main-header__item"><a href="#">FORUMS</a></li>
            </ul>
        </nav>
    </header>
    <main>
      <video autoplay="autoplay" loop="loop" muted="muted" style="width: 100%">
       <source type="audio/mp4" src="/image/3e78e80.mp4">
    </video>
    </main>
</body>
</html>



