body {
  background-image: url('/image/monst.jpg');
}


/* Location Bar */
ul , li {
  list-style: none;
  
}

.character__bar {
background-color: hsla(0, 0%,0%,.7);
position:absolute;
top:0;
left: 0;
width: 300px;
height: 100%;
box-sizing: border-box;
padding-top: 187px;
z-index: 9;
}

.character__city {
  width: 100%;
  height: 54px;
  line-height: 54px;
  font-size: 18px;
  text-decoration: none;
  text-shadow: 0 2px 6px rgba(0, 0,0,0.2);
  box-sizing: border-box;
  padding-left: 20px;
  cursor: pointer;

}



.character__city a {
  color: #fff;
}

.character__city a:active,
.character__city a.active {
  color: rgb(105,224,225);
}



.sliderBody{
margin-left: 350px;
margin-top: 50px;
width: 85%;
}
.slideBlock {
width: 2000px;
height: 900px;
width: 100%;
position: relative;

}

.slideBlock > img {
  width: 100%;
  position:absolute;
}


.slideBlock .slideName {
  position:absolute;
  height: 50%;
  width: 50%;
  margin-left: 100px;

}




.character__cv {
  padding-left: 20px;
}


.carousel-indicators{
  list-style: none;
}
.carousel-indicators li, .carousel-indicators li.active{
  width: 70px;
  height: 70px;
  background-color: #fff;
  position: relative;
  margin: 10px;           
}
.carousel-indicators img{
  position: absolute;
  width: 100%;
  border-radius: 50%;
  height: 100%;
  top: 0;
  left: 0;            
}

