    body {
    padding: 0;
    margin: 0;
    font-family: Helvetica;
    }
    image {
    width: 100%;
    position: absolute;
    margin: 0;
    padding: 0;
    }
    .home-container {
    width: 100%;
    overflow: hidden;
    height: 1000px;   
    position: relative;
    display: flex;
    justify-content: space-between;
    }
    .home-content {
    width: 100%;
    position:absolute;
    }
    .home-image {
    position:absolute;
    padding-top: 50px;
    height: 50%;
    width: 50%;
    }
    .allIndex {
    position: relative;
    }
    .news_image {
        background-image: url('./image/news.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position:center center;
     }
    .news_image .news-container{
        backdrop-filter: blur(4px);
        height: 100%;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 1000px;
        color: #fff;
       }
   .news-container .label__new {
    position: relative;
    margin: 90px auto 60px;
    font-size: 80px;
    font-weight: 400;
    text-align: center;
   }
   .news-container .label__new h3::before {
       content: '';
       position: absolute;
       top: 50%;
       width: 385px;
       height: 14px;
       background: url();
    }
 .news-container .label__new h3::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 385px;
    height: 14px;
    background: url();
}
   .news-container .newsBody {
        width: 80%;
        justify-content: center;
        display: flex;
        margin: 100px auto;
   }
   .news-container .newsBody img {
       width: 100%;
   }
  
   .news-container .newsBody .carousel__part {
    width: 49%;
    height: 100%;
   }

   .carousel__part .carousel-indicators li {
    width: 20px;
    height: 20px;
    border-radius: 100%;
  }

   .news-container .newsBody .news__part {
    position: relative;
    margin: 0;
    background-color: rgba(38,18,12,0.62);
    width: 49%;
    height: 100%;

   }
   .news-container .newsBody .news__part li {
       display: list-item;
   }
 
   .news-container .newsBody .news__part .new__tab__list {
    display: flex;
    align-items: flex-start;
    width: 100%;
    margin: 35px auto 0;
    border-bottom: 3px solid rpa(255,255,255,0.1);
   }

   .news-container .newsBody .news__part .new__tab__list .new__tab__item  {
       color: #ffd49f;
       position: relative;
       padding: 0 19px 12px;
       font-size: 20px;
       text-align: center;
       cursor: pointer;
   }
   .news-container .newsBody .news__part .new__tab__list .new__tab__item::after {
     position: absolute;
     left: 0;
     bottom: -3px;
     display: block;
     content: '';
     width: 100%;
     height: 3px;
     background: #ffd49f;

    }

   .news-container .newsBody .news__part .new__list {
    width: 600px;
    margin: 0;
   }
   .news-container .newsBody .news__part .new__list .new__item{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    border-bottom: 2px solid rgba(255, 255, 255,0.08);
    box-sizing: content-box;
    font-size: 16px;
    color: #fff;
   }

   ul,li {
       list-style: none;
   }



   /* FOOTER */
    .footer {
        position: relative;
        z-index: -988;
        width: 100%;
        min-width: 1280px;
        background-color: #111;
        margin: 0 auto;
    }
    .footer__top {

    }
    .footer_cdn {

    }
    .mihoyo-sea-footer {
        background-color: #111;
        padding: 30px 0 50px;
    }

    .mihoyo-sea-footer .footer-wrap {
        width: 1000px;
        margin: 0 auto;
        padding: 0 12px;
        color: #999;
        box-sizing: border-box;
    }
    .mihoyo-sea-footer .footer-content {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: space-between;
        color: #fff;
        font-size: 17px;
    }
    .mihoyo-sea-footer .footer-content-logo {
        display: flex;
        justify-content: space-between;
        margin-right: 100px;
        width: 430px;
    }
    .mihoyo-sea-footer .footer-content-logo .logoimg{
        width: 60%;
        padding-top: 20px;
        padding-left: 60px;
    }

    .mihoyo-sea-footer .footer-content-logo .ghenshin_logo { 
        width: 38%;
        padding-right: 50px;
    }
    .mihoyo-sea-footer .footer-content-logo .ghenshin_logo ::after{ 
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       -webkit-tap-highlight-color: rgba(0, 0, 0,0);
    }


    .mihoyo-sea-footer .footer-content-info .links {
        margin-bottom: 5px;
        display: flex;
        flex-wrap: wrap;
    }
    .mihoyo-sea-footer .footer-content-info .links a{
        margin: 0 5px;
        flex-shrink: 0;
        text-decoration: none;
    }

    .mihoyo-sea-footer .footer-content-info .copyright {
        padding: 6px 0 0 5px;
    }

    .mihoyo-sea-footer .footer-content-info .extra-info {
        color: #7d7d7d;
        font-size: 14px;
        line-height: 20px;
        padding: 10px 0 0 5px;
    }


     