body {
    padding: 0;
    margin: 0;
    text-decoration: none;
}
image {
    width: 100%;
    margin: 0;
    padding: 0;
}
.main-header {
    width: 100%;
    height: 66px;
    background-color: #111111BF;
    box-shadow: 0 3px 7px 0 rgba(0,0,0,0.35);
    z-index: 999;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    position: fixed;
    left: 0;
    top: 0;
    }
    .main-header__nav {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .main-header__nav .main-header__item-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 60%;
    height: 100%;
    }
    .main-header__nav .main-header__item a {
        text-decoration: none;
    }

    .main-header__nav .main-header__item-right {
     height: 100%;
     width: 20%;
     right: 0;
     top: 0;
     display: flex;
     justify-content: space-between;

    }


   
    /* Dowload button */
    .main-header__nav .main-header__item-right .header__dow__link {
        right: 0;
        top: 0;
        background-repeat: no-repeat;
        background-size: cover;
        width: 50%;
    }

   
    
    /* LOGIN LOGO PART */
    .main-header__nav .main-header__item-right .header__login__logo {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 0 26px;
        background:none;
        outline: none;
        color: #ccc;
        font-size: inherit;
        font-family: inherit;
        border: 0;
    }

    .main-header__nav .main-header__item-right .header__login__logo .header__login_img {
        margin-left: 18px;
        width: 27px;
        height: 27px;
        opacity: 0.6;
        border-radius: 20px;
    }

    .main-header__nav .main-header__item-right .header__login__logo:hover {
        color: white;
        
    }
    
 /* LOGOUT LOGO PART */

    .main-header__nav .main-header__item-right .header__logout__logo {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 0 26px;
        background:none;
        outline: none;
        color: #ccc;
        font-size: inherit;
        font-family: inherit;
        border: 0;
      
    }
    .main-header__nav .main-header__item-right .header__logout__logo .dropdown {
     display: inline-block;
     
    }
    .dropdown .user-name {
        padding-right: 20px;
    }

    .dropdown .dropdown__content {
        display: none;
        min-width: 160px;
        background:rgba(0,0,0,0.9);
        transform-origin: top;
        position: absolute;
        right: -16px;
        padding: 30px 48px;
        z-index: 999;
        transform: translateY(20px);
    }
    .dropdown .dropdown__content .subcontent-menu {
        display: flex;
        justify-content: right;
    }
    .dropdown .dropdown__content .subcontent-menu .account-button {
        width: 48%;
    }

    .dropdown .dropdown__content .subcontent-menu .logout-button {
        width: 48%;
        
    }

    .dropdown .dropdown__content .subcontent-menu .logout-button::after {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        
    }

    .header__logout__logo:hover .dropdown__content {
        display: block;
    }
    .dropdown .default {color: #fff;}


    
 
    .main-header__item {
    margin: 0px 20px !important;
  
    justify-content: space-between;
    width: 19%;
    height: 60px;
    font-weight: normal;
    font-stretch: normal;
    }
    .main-header__item a {
    text-decoration: none;
    display: block;
    font-size: 17px;
    font-family: Helvetica;
    color: #ccc;
    padding-top: 20px;
    text-align: center;
    }
    .main-header__item a:hover ,
    .main-header__item a:active,
    .main-header__item a.active {
    text-shadow: 0 0 10px #69e0ff, 0 0 20px #69e0ff, 0 0 40px #69e0ff;
    color:  #fff;
  
    }

