<%- include('../include(ejs)/head.ejs') %>
    <link rel="stylesheet" href="/mainPage.css">
</head>

<body>
    <%- include('../include(ejs)/navigation.ejs') %>
    <main>
        <div class="main-container">
            <div class="home-container">
                <div class='home-content'>
                    <video autoplay="autoplay" loop="loop" muted="muted" style="width: 100%; object-fit: cover;">
                    <source type="audio/mp4" src="/image/3e78e80.mp4"></video>
                </div>
                <div class="home-image">
                    <img src="/image/journey.png"> 
                </div>
            </div>
            <div class="news-container">

            </div>
        </div>
        <footer>
            <div class="footer">
                <div class="footer__top">
                    <a href="" class="footer__socialitem"></a>
                </div>
                <div class="footer_cdn">
                    <div class="mihoyo-sea-footer dark">
                        <div class="footer-wrap">
                            <div class="footer-content">
                                <div class="footer-content-logo">
                                    <div class="logoimg">
                                        <img src='https://uploadstatic-sea.mihoyo.com/hk4e/upload/officialsites/202004/mihoyo_1586770772_9709.png'> 
                                    </div>
                                    <div class="ghenshin_logo">
                                        <img src='https://uploadstatic-sea.mihoyo.com/hk4e/upload/officialsites/202004/GIEN_1587984203_6764.png'>
                                    </div>
                                </div>
                                <div class="footer-content-info">
                                    <div class="links">
                                        <a>Privacy Policy</a>
                                        <a>Terms of Service</a>
                                        <a>About Us</a>
                                        <a>Contact Us</a>
                                    </div>
                                    <div class="copyright">
                                        Copyright © 2020 miHoYo All Rights Reserved      
                                    </div>
                                    <div class="extra-info">
                                        "PlayStation Family Mark" and "PS4 logo" are registered trademarks or trademarks of Sony Interactive Entertainment Inc.      
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
      </main>

        <%- include('../include(ejs)/end.ejs') %>