<%- include('../include(ejs)/head.ejs') %>
    <link rel="stylesheet" href="/shop.css">
</head>

<body>
    <%- include('../include(ejs)/navigation.ejs') %>
    <main>
     

        </main>
        <%- include('../include(ejs)/end.ejs') %>